.tablaForo{
		border: groove #2D0571;
		position: relative;
		margin: auto;
		width: 500px;
		background-color: #062170;
		border-radius: 10px;
		
		}
.tablaForo td{
	padding: 10px;
	color: white;
	font-size: smaller;
	font-family: sans-serif;
	
	}
.tablaForo th{
	color: #39E639;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 20px;
	}
 .tablaForo tr:nth-child(even) {background: #133AAC; }
.tablaForo tr:nth-child(odd) {background: #476BD6; }
.tablaForo tr:first-child {background-color: #200772;}

a{
	color: greenyellow;
	text-decoration: none;
	}
a:active{
		color: orangered;		
		}
a:after{
		color: white;
		}
h1{
	font-family: 'Starcraft';	
	}
	
	.contenedor_respuesta{
	width: 92%;
	text-align: right;
	margin-top: -20px;
}

.contenido_respuesta{
	text-align: left;
	margin-left: 52px;
	display: none;
}

.tabla_nueva{
	border-color: #ADF27D;
	color: white;
}
#enviarTema,#enviarRespuesta{
		float: right;
		position: relative;
		width: 70px;
		margin-right: 7px;	
	}
#despliegaRellenable:hover{
	cursor: pointer;
	}
#eliminarhilo, #cerrarhilo {
position: relative;
float: left;
top: -13px;
left: 252px;
line-height: 1.9;
}
#cerrarhilo {
	line-height: 0;
	margin-right: 23px;
}
	}