			
    /* Estilos del slider */
    img{border:none;}

    /* Reemplazo de imágenes */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // Reemplazo de imágenes */
			
		
	#content{
		position:relative;
		margin: auto;

		}	
	/*Estilos caja texto y fondo texto Slider*/
	.fondo_slider{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		opacity: .3;
		background-color: black;
		height: 25px;
	}
	.slider_texto{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		color: white;
		font-weight: bold;
		text-align: center;
	}
	/*Estilos caja texto y fondo texto Slider*/

/* Slider */

	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			Define la altura y anchura del slider (slide)
		*/ 
		width:600px;
		height:241px;
		overflow:hidden; 
		position: relative;
		}	
	#prevBtn, #nextBtn,
	#slider1next, #slider1prev{ 
		display:block;
		width:67px;
		height:48px;
		position:relative;
		left: -248px;
		top: -148px;
		z-index: 1000;
		z-index:1000;
		}	
	#nextBtn, #slider1next{ 
		left: 245px;
		top: -194px;
		}														
	#prevBtn a, #nextBtn a,
	#slider1next a, #slider1prev a{  
		display:block;
		position:relative;
		width:67px;
		height:48px;
		background:url('../imagenes/slide_arrows.png') no-repeat left top;
		opacity: .4;
		}	
	#nextBtn a, #slider1next a{ 
		background:url('../imagenes/slide_arrows.png') no-repeat right top;	
		opacity: .4;
		}	

	#prevBtn a:hover{
		background:url('../imagenes/slide_arrows.png') no-repeat left bottom;	
		opacity: 1;
	}
	#nextBtn a:hover{
		background:url('../imagenes/slide_arrows.png') no-repeat right bottom;
		opacity: 1;
	}

	
		
	/* Controles numéricos */	

	ol#controls{
		margin:1em 0;
		padding:0;
		height:28px;	
		}
	ol#controls li{
		margin:0 10px 0 0; 
		padding:0;
		float:left;
		list-style:none;
		height:28px;
		line-height:28px;
		}
	ol#controls li a{
		float:left;
		height:28px;
		line-height:28px;
		border:1px solid #ccc;
		background:#DAF3F8;
		color:#555;
		padding:0 10px;
		text-decoration:none;
		}
	ol#controls li.current a{
		background:#5DC9E1;
		color:#fff;
		}
	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // Slider */